<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Happy Birthday!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <link rel="icon" type="img/png" href="https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/gift-icon.png">
  <style>
    body {
      padding-top: 50px;
      font-family: "Lora";
    }

    .header {
      width: 100%;
      text-align: center;
    }
    
    .mainText {
      width: 40%;
      margin-left: 30%;
      font-size: 20px;
      padding: 1vw;
      background-color: rgb(246, 246, 246);
      margin-bottom: 2vw;
    }

    .treepic {
      width: 20%;
      margin-left: 40%;
      margin-top: 1vw;
      margin-bottom: 2vw;
    }
  </style>

  <!-- Get endpoint from .env -->
  <div id="endpoint" data-value="<%= endpoint %>"></div>
  <script>
    const ENDPOINT = document.getElementById('endpoint').getAttribute('data-value')
  </script>
</head>
<body>
  <h1 class="header">Happy birthday, Marcos!</h1>
  <img class="treepic" src="https://i.ibb.co/9V3fqL7/IMG-3863.jpg" />
  <div class="mainText">
    <p>
      You'll have to forgive the simplicity of this website; I didn't find it in me to give you the satisfaction of yet another carefully crafted webpage, so I'm limited to sending a single html file.
      Regardless, I hope you enjoyed that little series of puzzles, and you made it to the end! That is, unless you guessed the URL, which is clearly impossible (also, because I have fool-proof security installed). 
    </p>
    <p>
      Anyways, you're 22! I loved getting drunk with you. I feel like there's a lot I could say that you already know, so I'll try to find a few things that you might not.
      <ol>
        <li> I really enjoyed having you around in the single next door, even if your door was shut most of the time. Especially after you and Albany started dating, I would suddenly feel weird with having the door closed with Claire, but there you were doing the same thing one door down. </li> 
        <li> I was honestly considering repurposing the entire list, but I don't really want to do that. So, these next few bulleted items will tell you all you need to know to procure your birthday present. </li>
        <!-- <li> First, I would like you to go to this link </li>
        <li> In general, actually, you're a very supportive person. I don't have much more to say there, just that it can go a long way. </li>
        <li> I'm very thankful for the ways you helped me through that last stretch of the semester, I was falling off the horse a bit so your lunchtime algs crash course and effective replacement of me as Michelle's
          105 partner (among other things) really made a difference. </li>
        <li> Vanya was actually indirectly mad at you at the beginning of the year because she was afraid that you were replacing her as the most important Indian in my life (her words, not mine). You
          clearly caused a change in heart because over the course of the year you became, to the best of my knowledge, the only exception to her "all Indian men suck" rule. Goes to show how you're not like the other boys. </li>
        <li> No matter how different we may seem, we both played saxophone in high school. I'd love to see a compilation of every moment we were playing saxophone at the exact same time. If that sounds corny as fuck to you, then
          you're right; this is my cue to stop. </li> -->
      </ol>
    </p>
    <p>
      Once again, a very happy birthday to you; hope this year brings out the best in you. 🌵
    </p>
    <a href=<%= redirect %>>Click me to get back home!</a>
  </div>
</body>
</html>
