<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Happy Birthday!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <link rel="icon" type="img/png" href="https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/gift-icon.png">
  <style>
    body {
      padding-top: 50px;
      font-family: "Lora";
    }

    .header {
      width: 100%;
      text-align: center;
    }
    
    .mainText {
      width: 50%;
      margin-left: 25%;
      font-size: 20px;
      padding: 1vw;
      background-color: rgb(246, 246, 246);
      margin-bottom: 2vw;
    }

    .treepic {
      width: 20%;
      margin-left: 40%;
      margin-top: 1vw;
      margin-bottom: 2vw;
    }
  </style>
</head>
<body>
  <h1 class="header">Happy birthday, Marcos!</h1>
  <img class="treepic" src="https://i.ibb.co/9V3fqL7/IMG-3863.jpg" />
  <div class="mainText">
    <p>
      You'll have to forgive the simplicity of this website; I didn't find it in me to give you the satisfaction of yet another carefully crafted webpage, so I'm limited to sending a single html file.
      Regardless, I hope you enjoyed that little series of puzzles, and you made it to the end! That is, unless you guessed the URL, which is clearly impossible (also, because I have fool-proof security installed). 
    </p>
    <p>
      Anyways, you're 22! I loved getting drunk with you. I feel like there's a lot I could say that you already know, so I'll try to find a few things that you might not.
      <ol>
        <li> I really enjoyed having you around in the single next door, even if your door was shut most of the time. Especially after you and Albany started dating, I would suddenly feel weird with having the door closed with Claire, but there you were doing the same thing one door down. </li> 
        <li> I was honestly considering repurposing the entire list, but I don't really want to do that.</li>
        <li> This is your Taylor year (because you're feeling <a href="https://www.youtube.com/watch?v=AgFeZr5ptV8" target="_blank">22</a>). </li>
        <li> I sincerely enjoyed our senior trip together, and I really valued your "help-get-things-done" attitude. It made planning things a lot more managable. </li>
        <li> You probably already know this, but I'm high-key jealous that you'll be in NY and I won't be (although I know the feeling is mutual for me being in Seattle). I hope you're able to make the most of the city, but don't become more of a New Yorker than I am. </li>
        <li> As per your request, the GitHub repos should have been automatically made public upon you reaching this page. The main one can be found <a href="https://github.com/anshulkamath/marcos-22nd" target="_blank">here</a>. </li>
      </ol>

      Okay, now it's time enter the final phase of your birthday spectacular.
      <ol>
        <li> I trust that you received a present in the mail yesterday. I hope you liked it, but, as is the theme of this whole project, that was yet another small cog in a much larger machine. </li>
        <li> I hope that this gift hasn't been too wholesome yet (as I keep reminding you, I know you're deathly allergic), especially considering we haven't gotten to the kicker yet... </li>
        <li> This part is <strong>very important.</strong> To procure your (real) gift, please text "I'm home you dirty slut" to <a href="sms:+19789089138">(978)-908-9138</a>. </li>
        <li> Whatever happens next, I'd like you to know that I intentionally went "balls-to-the-wall" for our (seemingly) last hurrah. You are one of my closest friends and most trusted confidants, and I wanted to express what this friendship means to me properly. </li>
        <li> Speaking of which, I just wanted to clear the air and say that if you ever felt I was avoiding you last semester, it wasn't because of anything malicious. This whole project took way more coordinating than I anticipated, and I'm sorry if <s>I showed how much I disliked you</s> it seemed like I was avoiding you. </li>
        <li> I am 100% expecting you to roll over and not attempt anything for my birthday because this gift is too awesome. </li>
      </ol>
    </p>

    <p>
      Once again, a very happy birthday to you; hope this year brings out the best in you.
      It's been an honor and a privilege to be able to
        <a href="https://www.youtube.com/watch?v=6swmTBVI83k" target="_blank">
          call you by your name
        </a>
      these past 4 years, Paco.
      I'll see you soon 🌵
    </p>
    <a href=<%= redirect %>>Click me to get back home!</a>
  </div>

  <script src="js/cookie.js"></script>
</body>
</html>
