<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rev-b</title>
  <meta name="description" content="Reverse Rugb">
  <meta name="author" content="Anshul Kamath">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Our CSS -->
  <link rel="stylesheet" href="./css/revb.css">
  <!-- Our fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Nunito:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div id="modal-container">
    <div id="modal-body">
      <h2 class="nunito floating-animation">Welcome to Rev-b!</h1>
      <div id="modal-text" class="nunito">
        <p>
          I'm sure you're familiar with the worldwide phenomenon "rugb" that snatched children away from their parents en masse in late 2022.
          Well, I am now proud to present you with "rev-b," or "reverse rugb!"
          This game is (eerily) similar to rugb, except it's completely different.
          You will be presented with two colors and will be asked to guess the "delta-E" metric associated with the colors.
          Remember, the calculation of this metric is proprietary technology, owned by Marcos D. Acosta.
          The score for each round will be calculated as follows:
        </p>
        <p style="text-align: center; font-family: monospace;">
          score = 100 - Math.abs(predicted rugb score - actual rugb score)
        </p>
        <p>
          I do not claim credit for it, and my use is protected under the Fair Use Laws.
          Do <b>NOT</b> sue me. 
          You will be sorry.
        </p>
      </div>
      <button id="modal-close" class="nunito">Let's Begin!</button>
    </div>
  </div>
  <div id="revb-game-container">
    <div id="scoreboard"></div>
    <div id="revb-game">
      <div id="color-box-container">
        <div id="left-color-box" class="color-box"></div>
        <div id="right-color-box" class="color-box"></div>
      </div>
      <div id="guess">
        <input id="guess-val" type="text" placeholder="0" class="nunito" />
      </div>
      <div id="button-row">
        <button id="submit-button" type="submit" class="floating-animation">Submit</button>
      </div>
    </div>
    <div></div>
  </div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  
  <!-- Color Spaces -->
  <script src="https://cdn.jsdelivr.net/gh/colorjs/color-space/dist/color-space.js" type="module"></script>

  <!-- Script Files -->
  <script src="./js/revb.js"></script>
  <script src="./js/color-space.js"></script>
  <script src="./js/deltaE.js"></script>
</body>
